<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show All Customers</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/aplikasi.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/tabs.css}" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.validate.js}"></script>

</head>
<body>
<div th:replace="fragments/htmlFragments::main-panel"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link " href="/admin/users_all">Users
                    <span class="sr-only">(current)</span>
                </a></li>
                <li class="nav-item"><a class="nav-link " href="/user/associates_all">Associates</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="/user/customers_all">Customers</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/user/products_all">Products</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/user/order_details_all">Order Details</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div style="margin-left:18%">
    <div class="notebook">
        <input type="radio" name="notebook1" id="notebook1_1" checked>
        <label for="notebook1_1">Customers Table</label>

        <input type="radio" name="notebook1" id="notebook1_2">
        <label for="notebook1_2">New Customer</label>

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col" colspan=2>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}">Id</td>
                    <td th:text="${customer.organizationName}">Organization</td>
                    <td th:text="${customer.nameManager}">Name</td>
                    <td th:text="${customer.address}">Address</td>
                    <td th:text="${customer.phone}">Phone</td>

                    <td>
                        <a href="#" class="btn btn-primary btn-block" th:id="${customer.id}" data-toggle="modal"
                           th:attr = "data-target='#'+${customer}">Update
                        </a>
                        <div class="modal fade" th:attr="id=${customer}" tabindex="-1" role="dialog" aria-labelledby="basicModal"
                             aria-hidden="true">

                            <div class="modal-dialog">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h4 class="modal-title" id="myModalLabel">Update Customer</h4>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                            <span aria-hidden="true">×</span>

                                        </button>

                                    </div>

                                    <div class="modal-body">

                                        <form  id="update" action="/user/customer_update" method="post">
                                            <div class="form group">
                                                <label for="customerId">Id:</label>
                                                <input type="text" class="form-control" required id="customerId" readonly="readonly" name="customerId"
                                                       th:value="${customer.id}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="organizationName">Organization: </label>
                                                <input type="text" class="form-control" required  id="organizationName" name="organizationName"
                                                       th:value="${customer.organizationName}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="nameManager">Name: </label>
                                                <input type="text" class="form-control" required id="nameManager" name="nameManager"
                                                       th:value="${customer.nameManager}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Address: </label>
                                                <input type="text" class="form-control" required id="address"
                                                       name="address"
                                                       th:value="${customer.address}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="phone">Phone: </label>
                                                <input type="number" class="form-control" required id="phone"
                                                       name="phone"
                                                       th:value="${customer.phone}"/>
                                            </div>

                                            <button type="submit" class="btn btn-primary btn-block">Edit</button>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form th:action="@{/user/customer_delete/{customerId} (customerId=${customer.id})}">
                            <button type="submit" class="btn btn-primary btn-block">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/htmlFragments::add-customer"></div>
    </div>
</div>
</body>
</html>