<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show All Users</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/aplikasi.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/tabs.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.validate.js}"></script>


</head>
<body class="container" style="text-align: center">
<div th:replace="fragments/htmlFragments::main-panel"></div>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link active" href="/admin/users_all">Users
                    <span class="sr-only">(current)</span>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="/user/associates_all">Associates</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/user/customers_all">Customers</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/user/products_all">Products</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="/user/order_details_all">Order Details</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div style="margin-left:18%">
    <div class="notebook">
        <input type="radio" name="notebook1" id="notebook1_1" checked>
        <label for="notebook1_1">Users Table</label>

        <input type="radio" name="notebook1" id="notebook1_2">
        <label for="notebook1_2">New User</label>

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Login</th>
                    <th scope="col">Role</th>
                    <th scope="col" colspan=2>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">Id</td>
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.login}">Login</td>
                    <td>
                        <p th:each="userRole : ${user.roles}"
                           th:text="${userRole.getName()}"></p>
                    </td>
                    <td>
                        <!--<form th:action="@{/admin/update_user/{userId}(userId=${user.id})}">-->
                        <!--<button type="submit" class="btn btn-primary btn-block">Update</button>-->
                        <!--</form>-->
                        <!-- Button trigger modal -->
                        <a href="#" class="btn btn-primary btn-block" th:id="${user.id}" data-toggle="modal"
                          th:attr = "data-target='#'+${user}">Update
                        </a>
                        <div class="modal fade" th:attr="id=${user}" tabindex="-1" role="dialog" aria-labelledby="basicModal"
                             aria-hidden="true">

                            <div class="modal-dialog">

                                <div class="modal-content">

                                    <div class="modal-header">

                                        <h4 class="modal-title" id="myModalLabel">Update User </h4>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                            <span aria-hidden="true">×</span>

                                        </button>

                                    </div>

                                    <div class="modal-body">

                                        <form  id="update" action="/admin/update_user" method="post">
                                            <div class="form group">
                                                <label for="userId">Id:</label>
                                                <input type="text" class="form-control"  id="userId" readonly="readonly"
                                                       name="userId" th:value="${user.id}"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="name"> Name: </label>
                                                <input type="text" class="form-control"  required id="name" name="name"
                                                       th:value="${user.name}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="login">Login: </label>
                                                <input type="text" class="form-control" required id="login" name="login"
                                                       th:value="${user.login}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password: </label>
                                                <input type="password" class="form-control" required id="password"
                                                       name="password"
                                                       th:value="${user.password}"/>
                                            </div>
                                            <div>
                                                <select id="roles" name="roles" multiple=multiple>
                                                    <option th:each="roleFromDB : ${allRoles}"
                                                            th:selected="${user.roles.contains(roleFromDB)}"
                                                            th:value="${roleFromDB.name}"
                                                            th:text="${roleFromDB.name}"></option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Edit</button>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form th:action="@{/admin/delete_user/{userId} (userId =${user.id})}">
                            <button type="submit" class="btn btn-primary btn-block">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/htmlFragments::add-user"></div>
    </div>
</div>
</body>
</html>